<template name="leftTemplate">
	<div class="ui inverted labeled icon left inline vertical sidebar menu">
		<a class="item homeX">
			<i class="home icon"></i>
			Home
		</a>
		<a class="item searchX">
			<i class="search icon"></i>
			Search
		</a>
		<a class="item">
			<i class="comment icon"></i>
			Chat
		</a>
		<a class="item">
			<i class="star icon"></i>
			Favourites
		</a>
		<a class="item">
			<i class="play icon"></i>
			Playlists
		</a>	    
		<a class="item">
			<i class="random icon"></i>
			Random
		</a>	    
		<a class="item">
			<i class="setting icon"></i>
			Settings
		</a>
	</div>
</template>